[package]
name = "movie"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# 错误处理
thiserror = "2.0.17"

# 网络请求
reqwest = "0.12.24"
scraper = "0.24.0"

# 运行时
tokio = { version = "1.48.0", features = [
  "rt",
  "rt-multi-thread",
  "macros",
  "fs",
] }

# 存储
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"

# 参数
clap = { version = "4.5.51", features = ["derive"] }
