[package]
name = "h-clipboard"
version = "0.1.0"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { workspace = true, features = [] }

[dependencies]
# tauri
tauri = { workspace = true, features = ["macos-private-api"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
delay = { path = "../../../crates/delay" }
tokio = { version = "1.47.1", default-features = false, features = ["time"] }

# database
diesel = { version = "2.3.2", features = ["sqlite", "r2d2","returning_clauses_for_sqlite_3_35"] }
libsqlite3-sys = { version = "0.35.0", features = ["bundled-windows"] }
time = "0.3.44"

# 剪切板监听
enigo = "0.6.1"
clipboard-rs = "0.3.0"

# 错误处理
thiserror = "2.0.17"

# 窗口管理
window-vibrancy = "0.6.0"

# log
tauri-plugin-log = { version = "2.7.0" }
log = "0.4.28"

# plugin
tauri-plugin-global-shortcut = "2.3.0"
tauri-plugin-notification = "2.3.1"

# 数据传输
ciborium = "0.2.2"
serde_bytes = "0.11.19"
unicode-segmentation = "1.12.0"

[target.'cfg(target_os="macos")'.dependencies]
objc2 = "0.6.2"
objc2-app-kit = { version = "0.3.1", features = ["NSRunningApplication"] }
objc2-foundation = "0.3.1"

[dev-dependencies]
anyhow = "1.0.100"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
