[package]
name = "chat_gpt"
version = "0.2.0"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { workspace = true, features = [] }

[dependencies]
# tauri
tauri = { workspace = true, features = ["macos-private-api", "tray-icon"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
delay = { path = "../../../crates/delay" }

# database
diesel = { version = "2.3.4", features = [
    "sqlite",
    "r2d2",
    "numeric",
    "time",
    "returning_clauses_for_sqlite_3_35"
] }
libsqlite3-sys = { version = "0.35.0", features = ["bundled-windows"] }
time = { version = "0.3.44", features = ["serde"] }
pinyin = "0.10.0"

# 错误处理
thiserror = "2.0.17"

# log
tauri-plugin-log = { version = "2.7.1" }
log = "0.4.29"

# 窗口管理
tauri-plugin-window-state = { version = "2.4.1" }
window-vibrancy = "0.7.1"

# http request
reqwest = { version = "0.12.25", features = ["json"] }
tokio = { version = "1.48.0", features = [
    "rt",
    "rt-multi-thread",
    "sync",
    "fs",
    "io-util",
    "macros",
] }
reqwest-eventsource = "0.6.0"
futures = "0.3.31"
async-stream = "0.3.6"

# config
notify = { version = "8.2.0" }
toml = "0.9.8"
csv = "1.4.0"

# plugin
tauri-plugin-global-shortcut = "2.3.1"
tauri-plugin-notification = "2.3.3"
tauri-plugin-os = "2.3.2"
tauri-plugin-opener = "2.5.2"
tauri-plugin-dialog = "2.4.2"
tauri-plugin-positioner = "2.3.1"

# extension
wasmtime = { version = "39.0.1" }
wasmtime-wasi = "39.0.1"
get-selected-text = "0.1.6"

[target.'cfg(target_os="macos")'.dependencies]
objc2 = "0.6.3"
objc2-app-kit = "0.3.2"
objc2-foundation = "0.3.2"

[features]
# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]

[dev-dependencies]
dotenv = "0.15.0"
anyhow = "1.0.100"
