[package]
name = "http-client"
version = "0.1.0"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
default-run = "http-client"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { workspace = true, features = [] }

[dependencies]
# tauri
tauri = { workspace = true, features = ["macos-private-api", "tray-icon"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
delay = { path = "../../../crates/delay" }
tokio = { version = "1.48.0", default-features = false, features = ["time"] }

# 数据库
diesel = { version = "2.3.4", features = ["sqlite","returning_clauses_for_sqlite_3_35"] }

# http
reqwest = "0.12.25"

# 错误处理
anyhow = "1.0.100"
thiserror = "2.0.17"

# 窗口管理
window-vibrancy = "0.7.1"

# log
tauri-plugin-log = { version = "2.7.1" }
log = "0.4.29"

# 搜索应用
lnk = "0.6.3"
walkdir = "2.5.0"
pinyin = "0.10.0"

# plugin
tauri-plugin-notification = "2.3.3"
tauri-plugin-clipboard-manager = "2.3.2"
tauri-plugin-shell = "2.3.3"


[target.'cfg(target_os = "macos")'.dependencies]
plist = { version = "1.8.0" }
objc2 = "0.6.3"
objc2-app-kit = { version = "0.3.2", features = ["NSRunningApplication"] }
objc2-foundation = "0.3.2"

[target.'cfg(not(any(target_os = "android", target_os = "ios")))'.dependencies]
tauri-plugin-global-shortcut = "2.3.1"


[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
